/* About.css */

.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .header-text {
    font-size: 2em;
    color: #333;
  }
  
  .intro-text {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .mission-section,
  .contact-section {
    margin-top: 41px;
  }
  
  h2 {
    color: #333;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  