/* Members.css */

.members-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(30% - 20px), 1fr));
  gap: 20px;
}

.category-container {
  background-color: rgb(252, 252, 252);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 20px;
}

.category-title {
  font-size: 18px;
  margin: 0 0 10px;
  color: #333;
}

.member-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.member-card {
  width: 100%; /* Adjust width based on your preference */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}

.member-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.member-item:hover {
  transform: translateY(-5px);
}

.member-info {
  display: flex;
  align-items: center;
}

.member-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.member-details {
  flex-grow: 1;
}

.member-name {
  font-size: 16px;
  margin: 0;
  color: #333;
}

.member-role {
  margin-top: 2px;
  font-size: 14px;
  color: #666;
}

.member-link {
  text-decoration: none;
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.member-link:hover {
  background-color: #0056b3;
}

.bg-hero-pattern {
  background-color: #f9f9f9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.5' height='4.5' viewBox='0 0 4 4'%3E%3Cpath fill='%23cfcfcf' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  height: 300vh;
}

/* Additional styles for each category */
 
.members-container{
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  font-style: bold;
}
.members-container:hover{
  color: rgb(255, 68, 0);
}